
<div class="main">

  
  <div class="wrap" >


      <div class="top wrap">
            <div class="top_left">
               
                  <div class="logo">
                     <a routerLink="/"> <img src="assets/logo.png"alt="logo"></a>
                  </div>
                        <div class="telephone">
                               <div class="logo">
                               <img src="assets/phone.png"alt="Telephone">
                         </div>
                      <div class="number">
                        <p class="number_text dark">+7 (499) 653-9-900</p>
                      </div>
                  </div>
          </div>

<div class="top_right">
            <div class="status">
                     <div id="status_text1">
                         <p class="dark">Проверить статус заказа</p>
                     </div>

                 <a routerLink="status"> <button  class="status_button" ><img src="assets/status.png" >
                  </button></a>
                  </div>

                  <div class="ShoppingCart">
                    <img  src="assets/Shopping-Cart-Icon.png">
                       <div id="text1">
                          <p class="dark">Корзина</p>
                       </div>
                        
                          <a routerLink="ShoppingCart"> <button  class="ShoppingCart_button"> <p class="dark">0</p> 
                       </button> </a>
                 </div>

                 <div class="SignIn">
                    <button  class="SignIn_button">
                    <img src="assets/user.png" alt="logo"><p class="dark">Вход</p>
                  </button>
                 </div>
                </div>
          </div>
        </div>
            <div class="navigation">
              
                  <nav [ngClass]="{media_menu:visibility}" class="menu" >
                   
                      <ul >
                        
                          <li><a href="#" class="menu-link dark ">СТУЛЬЯ И КРЕСЛА</a></li>
                          <li><a href="#" class="menu-link dark" >КРОВАТИ И МАТРАСЫ</a></li>
                          <li><a href="#" class="menu-link dark ">ШКАФЫ И КОМОДЫ</a></li>
                          <li><a href="#" class="menu-link dark">МЕБЕЛЬ ДЛЯ КУХНИ</a></li>
                          <li><a href="#" class="menu-link dark">ТОВАРЫ ДЛЯ ДОМА</a></li>
                          <a href="#" (click)="myEvent()"class="menu-link_icon"> &#9776; </a>
                      </ul>
                   
                    </nav>
                  
                  <div class="search gray">
                    <form class="search_form">
                      <input class="search_form_input" type="text" placeholder="Поиск по товарам">
                      <button type="submit" class="search_form_button"> <img src="assets/search.png" alt="search" > </button>
                    </form>
                </div>  
            
              
         
