<div class="check_wrap">


  <h1>Проверить статус заказа</h1>

                <div class="check_wrap_block">
                            <div class="check_text">
                              <p>Введите номер Вашего заказа и электронный адрес, указанный при его
                                оформлении.
                              </p>
                            </div>
                            <div class="check_number">
                                <input class="check_number_input" type="city" placeholder="Номер заказа">
                          </div>
                          <div class="check_number">
                              <input class="check_number_input" type="city" placeholder="Электронная почта">
                        </div>
                        <div class="chech_button">
                          <button >Проверить статус <p>></p></button>
                        </div>
                </div>
</div>