<div class="item_card ">
<div class="way">
   
    <ul class="breadcrumbs">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Стулья и Кресла </a></li>
          <li>Кресло Ханна</li>
         </ul>

</div>

<div class="item_card_info">
  <div class="item_card_wrap-top">
    <div class="wrapper">
       
        <ul class="min">
               <button>123</button>
             <li><a href="#img1"><img src="assets/1.png" alt="1" /></a></li>
             <li><a href="#img2"><img src="assets/1.png"alt="2" /></a></li>
             <li><a href="#img3"><img src="assets/1.png"alt="3" /></a></li>
             <li><a href="#img4"><img src="assets/1.png" alt="4"/></a></li>
            
        </ul>
        <div class="images">
             <div><a name="img1"></a><img alt="" src="assets/2.png" /></div>
             <div><a name="img2"></a><img alt="" src="assets/2.png" /></div>
             <div><a name="img3"></a><img alt="" src="assets/2.png" /></div>
             <div><a name="img4"></a><img alt="" src="assets/2.png" /></div>
            
        </div>
   </div>

<div class="item_card_bay">
<h2>Кресло Ханна</h2>
<p>Код товара 1049556</p>
<div class="item_card_bay_status">
     <img src="assets/point.png">  <p>В наличии</p>
</div>
<div class="item_card_bay_wrap">

     <div class="item_card_bay_price">
          <p class="price">9 399 ք</p>
          <button class="dec"><img src="assets/dec.png"></button>
<input  class="item_card_bay_counter" value="1"/>
<button class="inc"><img src="assets/inc.png"></button>
     
</div>
<div class="item_card_button">

          <button class="item_card_button_bay">Купить</button>

     </div>

     <div class="item_card_delivery_wrap">
<div class="item_card_delivery">
     <img src="assets/dostavka.png " alt="delivery" >
</div>
<p class="item_card_delivery_p">Бесплатная доставка</p>
</div>
</div>



</div>






  </div>
  <div class="description">
  <h3>Описание</h3>
  <p>Кресло Ханна — элегантное решение для кухни или столовой, выдержанной в современном стиле.
        Каркас модели выполнен из массива древесины, видимые элементы отделаны березовым шпоном и покрыты белой эмалью. 
        Велюровая обивка приятна на ощупь, долго сохраняет опрятный вид и первоначальный цвет. Мягкое сиденье обеспечивает комфорт во 
        время длительной трапезы или дружеской беседы за столом. Высокая спинка с легким изгибом позволяет принять удобное положение,
         расслабив спину.</p>
  
         <h3>Материал обивки - ткань</h3>
<p>Удовольствие от трапезы за кухонным столом во многом зависит от качества кухонных стульев.
      При выборе важно все, в том числе материал обивки. Кухонные стулья с тканевой обивкой сиденья и спинки практичны, комфортны и 
      гигиеничны: текстиль приятен на ощупь, не способствует образованию конденсата при соприкосновении с телом, стоек к механическим 
      повреждениям, долго сохраняет первоначальный вид.</p>
</div>
</div>




</div>
