<div class="body_wrap">
          <div class="shopping_cart_wrap">
                  <div class="shopping_cart_text">
                    <h1>Корзина</h1>
                  </div>
                 <div class="shopping_cart_item">
                          <div class="shopping_cart_img">
                            <img src="assets/shopping_cart1.png">
                          </div>
                          <div class="shopping_cart_info">
                            <h3>Кресло Ханна</h3>
                            <h4>Код товара 1049556</h4>
                          </div>
                          <div class="shopping_cart_price">
                                 <p class="price">9 399 ք</p>
                                 <button class="dec"><img src="assets/dec.png"></button>
                                 <input  class="shopping_cart_counter" value="1"/>
                                 <button class="inc"><img src="assets/inc.png"></button>
                                 <p class="price">9 399 ք</p>
                                 <button class="del"><img src="assets/del.png"></button>
                          </div>
                 </div>   
                 <div class="shopping_cart_item">
                            <div class="shopping_cart_img">
                                   <img src="assets/shopping_cart2.png">
                           </div>
                           <div class="shopping_cart_info">
                                  <h3>Кресло Гоа</h3>
                                  <h4>Код товара 1049556</h4>
                           </div>
                          <div class="shopping_cart_price">
                                  <p class="price">9 399 ք</p>
                                  <button class="dec"><img src="assets/dec.png"></button>
                                  <input  class="shopping_cart_counter" value="1"/>
                                  <button class="inc"><img src="assets/inc.png"></button>
                                  <p class="price">9 399 ք</p>
                                  <button class="del"><img src="assets/del.png"></button>
                         </div>
                </div>   
                <div class="shopping_cart_item_last">
                    <div class="shopping_cart_img">
                           <img src="assets/shopping_cart3.png">
                   </div>
                   <div class="shopping_cart_info">
                          <h3>Стул Бланес</h3>
                          <h4>Код товара 1049556</h4>
                   </div>
                  <div class="shopping_cart_price">
                          <p class="price">9 399 ք</p>
                          <button class="dec"><img src="assets/dec.png"></button>
                          <input  class="shopping_cart_counter" value="1"/>
                          <button class="inc"><img src="assets/inc.png"></button>
                          <p class="price">9 399 ք</p>
                          <button class="del"><img src="assets/del.png"></button>
                 </div>
        </div>   
                                        <div class="shopping_cart_result">
                                          <div class="shopping_cart_result_text1">
                                             <p>3 товара</p>
                                            
                                            <div class="shopping_cart_result_text2"></div>
                                             <h2>К оплате: 28 197 ք</h2>
                                            </div>
                                        </div>


     </div>
<div class="registration">
             <div class="registration_wrap">
                        <div class="registration_header">
                          <h1>Оформление заказа</h1>
                        </div>
                        <div class="registration_header_address">
                          <h3>Адрес доставки</h3>
                        </div>
                        <div class="registration_header_city">
                              <input class="registration_header_city_input" type="city" placeholder="Город, улица, номер дома*">
                        </div>
                      <div class="registration_header_house">
                              <div class="registration_header_house_apartment">
                                <input class="registration_header_house_input" type="apartment" placeholder="Кв/офис">
                              </div>
                              <div class="registration_header_house_floor">
                                <input class="registration_header_house_input" type="floor" placeholder="Этаж">
                              </div>
                              <div class="registration_header_house_entrance">
                                <input class="registration_header_house_input" type="entrance" placeholder="Подъезд">
                              </div>
                      </div>
                      <div class="registration_textarea">
                        <textarea class="registration_textarea_comment" placeholder="Комментарий к заказу" ></textarea>
                      </div>
                      <div class="registration_header_address">
                        <h3>Получатель</h3>
                      </div>
                      <div class="registration_header_city">
                        <input class="registration_header_city_input" type="name" placeholder="Имя*">
                  </div>
                  <div class="registration_header_city">
                    <input class="registration_header_city_input" type="surname" placeholder="Фамилия*">
              </div>
              <div class="registration_header_city">
                <input class="registration_header_city_input" type="email" placeholder="Электронная почта*">
          </div>
          <div class="registration_header_city">
            <input class="registration_header_city_input" type="tel" placeholder="Номер телефона*">
      </div>

      <div class="registration_send">
        <button class="registration_button">Оформить заказ</button>
      </div>
              </div>
</div>


</div>