

  

*{
    margin: 0;
    padding: 0;
}


.main{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 111px;   
    background: #222328;
    display: flex;
    justify-content: center;
    
}
.wrap{
    display: flex;
    height: 90px;
    width: 1170px;
    margin: 0 auto;
    position: relative;
    
}
.dark{
    color: #142558;
}
.gray{
color:#a1a7bd;
}
.red{
    color: #f54732;
}
.top{
    display: flex;
    flex-flow: row nowrap;
    height: 90px;
    align-items: center;
}
.top_left{
    display: flex;
    height: 90px;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
   
}

.all_rights{
  display: flex;
font-size: 14px;
        
        
}
.logo{
    
    display: flex; 
    background: #222328;     
}


.telephone{
    margin-left: 600px;
    display: flex;
    align-items: center;
    
}
.number {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    width: 144px;
    height: 16px;
   
    
}
.number_text{
        font-size: 16px;
       margin-left: 10px;
        height: 16px;
     font-weight: bold;
}
    
 