<div class="foot">
  
     <div class="foot_wrap">


      <div class="foot_top">
          <div class="logo">
              
              <a routerLink="/"> <img src="assets/footer-logo.png" alt="logo" ></a>
          </div>

          <nav class="foot_menu white">
              <ul >
                  <li><a href="#" class="foot_menu-link white ">СТУЛЬЯ И КРЕСЛА</a></li>
                  <li><a href="#" class="foot_menu-link white" >КРОВАТИ И МАТРАСЫ</a></li>
                  <li><a href="#" class="foot_menu-link  white">ШКАФЫ И КОМОДЫ</a></li>
                  <li><a href="#" class="foot_menu-link white">МЕБЕЛЬ ДЛЯ КУХНИ</a></li>
                  <li><a href="#" class="foot_menu-link white">ТОВАРЫ ДЛЯ ДОМА</a></li>
              </ul>
            </nav>
      </div>
                <div class="foot_info gray">
                  <div class="all_rights_reserved gray">
                        <p > © Все права защищены,2019</p>
                  </div>
                          <div class="support">
                                <div class="support_logo">
                                    <svg 
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="13px" height="13px">
                                  <path fill-rule="evenodd"  fill="rgb(161, 168, 189)"
                                    d="M0.722,-0.000 C0.289,-0.000 -0.000,0.289 -0.000,0.722 C-0.000,7.511 5.489,13.000 12.278,13.000 C12.711,13.000 13.000,12.711 13.000,12.277 L13.000,9.750 C13.000,9.316 12.711,9.027 12.278,9.027 C11.411,9.027 10.472,8.883 9.678,8.594 C9.389,8.522 9.172,8.594 8.955,8.811 L7.367,10.400 C5.344,9.388 3.683,7.655 2.600,5.633 L4.189,4.044 C4.405,3.827 4.478,3.538 4.405,3.322 C4.116,2.455 3.972,1.589 3.972,0.722 C3.972,0.289 3.683,-0.000 3.250,-0.000 "/>
                                  </svg>
                                </div>
                                            <div class="support_text">
                                              <p>Техническая поддержка</p><br>
                                              <svg 
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="144px" height="16px">
                                            <text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" font-size="16px" x="0px" y="13.9679999999998px"><tspan font-size="16px" font-family="PTRootUI" font-weight="bold" fill="#9FA6BA">&#43;&#55;&#32;&#40;&#52;&#57;&#57;&#41;&#32;&#54;&#53;&#51;&#45;&#57;&#45;&#57;&#48;&#48;</tspan></text>
                                            </svg>
                                            </div>

                        </div>



                        <div class="status">
                            <div id="status_text1">
                                <p>Проверить статус заказа</p>
                            </div>
       
                         <button class="status_button" ><img src="assets/Group1.png" >
                         </button>
                         </div>
                         <div class="SignIn">
                            <button class="SignIn_button">
                            <img src="assets/user.png" alt="logo"><p class="gray">Вoйти в систему</p>
                          </button>
                         </div>       
              </div>
     </div>
</div>

