
<div class="main">

  
  <div class="wrap" >


      <div class="top wrap">
            <div class="top_left">
                  <div class="logo">
                      <img src="assets/logo.png"alt="logo">
                  </div>
                        <div class="telephone">
                               <div class="logo">
                               <img src="assets/phone.png"alt="Telephone">
                         </div>
                      <div class="number">
                        <p class="number_text dark">+7 (499) 653-9-900</p>
                      </div>
                  </div>
          </div>


 
