<div class="body_main">
    <!--
       <li *ngFor="let item of itemsBody">
        
        <p>id: {{item?.id}}</p>
        </li>
      --> 
 
      


          <div class="placeholder">
                   <div class="placeholder_wrap">
                             <h1 class="blue">Стулья и кресла</h1>
                         <div class="placeholder_icon">
                            <img src="assets/placeholder.png">
                          </div>

                   </div>

          </div>

        <div class="sort">



                    <div class="price">
                      <p class="blue">Цена</p>

                    <div class="price_wrap">

                    <div class="price_input1">
                            <div class="price_min">
                                 <input type="text blue" placeholder="5300" >
                            </div>
                                     <div class="separator"> </div>
                                    
                                           <div class="price_max">
                                            <input type="text blue"  placeholder="12 900">
                                           </div>
                    </div>
                        
                        
                              <div class="slidecontainer">
                                    <input type="range" min="5300" max="26800" value="50" class="slider" id="myRange">
                                  
                              </div>
                              
                    </div> 
                    
                    </div>
                                    <div class="sortingGoods">

                                         <p class="blue">Сортировка:</p>

                                            <div class="sortingGoods_select">
                                                    <p><select >
                                                    <option>По наименованию</option>
                                                    <option>Дешевые сверху</option>
                                                    <option>Дорогие сверху</option>
                                                     </select></p>
                                             </div>
                                    </div>

                                    <div class="sortingList">
                                        <p class="blue">Товаров на страницe:</p>

                                               <div class="sortingList_select">
                                                    <p><select >
                                                        <option>24</option>
                                                        <option>14</option>
                                                      </select></p>
                                                </div>
                                    </div>


       </div>

      <div class="goods">
                  
                             
                              
          <div class="goods_wrap">
                  <div  class="banner">
                              <h2 class="blue">Товары для дома<br> со скидкой </h2>
                             <button class="banner_button blue">Смотреть все</button>
                      </div> 
                   <div *ngFor="let item of itemss" class="test">
                        
                        
                              <div  class="item blue" >
                                  <div class="item_img">
                                       <img src="{{item.img}}">
                                  </div>
                                           <div class="item_text">
                                                  <p>{{item.name}}</p>
                                           </div >
                                           <div class="item_price">
                                                  <p>{{item.price}}</p>
                                           </div>
                                           <div (click)="inCard($Event)"class="item_button">
                                                  <p>В Корзину</p>
                                           </div>
                              </div>
                             
                        </div>
                       
                  </div>
                  
      </div>
 


<div class="page ">
  <ul class="pager blue">
        <button class="pager_button1 blue"><<</button>
        <button class="pager_button blue"><</button>
        <li ><a href="#">1</a></li>
        <li ><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <button class="pager_button1">></button>
        <button class="pager_button">>></button>
       </ul>
</div>






</div>