<div class="status_wrap">


  <h1>Проверить статус заказа</h1>
  <div class="status_wrap_block">
                <div class="status_info">
                      <div class="status_info_wrap">
                            <div class="status_info_number">
                              <h3>Заказ ARU04889781</h3>
                            </div>
                            <div class="status_info_next">
                              <a href="#">Проверить другой заказ</a>
                            </div>
                          </div>
                          <div class="status_info_date">
                                <p>Дата заказа:7 февраля 2019</p>
                          </div>

                </div>
                               <div class="status_info_way">
                                          <div class="status_info_way_line">
                                                    <div class="status_info_way_item active">
                                                      <p>1</p>
                                                    </div>
                                                            <div class="line"></div>
                                                    <div class="status_info_way_item2">
                                                        <p>2</p>
                                                    </div>
                                                    <div class="line"></div>
                                                    <div class="status_info_way_item2">
                                                        <p>3</p>
                                                      </div>
                                          </div> 
                                          <div class="status_info_way_text">
                                            <p class="text_active">Подтверждение</p>
                                            <p class="status_info_way_text_center">Готовится к отправке</p>
                                            <p class="status_info_way_text_right">Отправлен</p>
                                          </div>
                                          <div class="status_info_amount">
                                          <p class="text_active">3 товара</p>
                                        </div>
                               </div>
                               <div class="status_info_item">
                                        <div class="status_info_img">
                                                  <img src="assets/status1.png" alt="Hanna">
                                       </div>
                                       <div class="status_info_text">
                                                  <h3>Кресло Ханна</h3>
                                                  <h4>Код товара 1049556</h4>
                                       </div>
                               </div>
                               <div class="status_info_item">
                                  <div class="status_info_img">
                                            <img src="assets/status2.png" alt="Hanna">
                                 </div>
                                 <div class="status_info_text">
                                            <h3>Кресло Гоа</h3>
                                            <h4>Код товара 1049556</h4>
                                 </div>
                         </div>
                         <div class="status_info_item">
                            <div class="status_info_img">
                                      <img src="assets/status3.png" alt="Hanna">
                           </div>
                           <div class="status_info_text">
                                      <h3>Стул Бланес</h3>
                                      <h4>Код товара 1049556</h4>
                           </div>
                          
                   </div>
                   <div class="adres">
                          <h2>Адрес доставки</h2>
                           <div class="text">
                           <p>Севастополь,Победы пр-кт,д.2А Россия</p>
                           </div>
                           <h2>Получатель</h2>
                           <div class="text2">
                           <p>Иван Иванов ivanov@gmail.com +7 (978) 123-45-67</p>
                           </div>
</div>

  </div>
</div>